* {
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
    color: #2B292D;
}
/*img {
    width: 100%;
    height: 100%;
}*/
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.title {
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
}
.overtitle {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
}
.text {
    font-size: 24px;
    line-height: 34px;
}
.button {
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 28px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px
}
.button:hover {
    color: #3040C4;
    background-color: #FFFFFF;
    transition: 1s;
    cursor: pointer;
}

.header {
    background-color: #F3C6BD;
    padding: 20px 0 10px;
}
.header-sticky {
    position: sticky;
    top: 0;
    z-index: 3;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo {
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo-img {
    margin-right: 15px;
}
.logo-bold-text {
    font-weight: bold;
    margin-bottom: 5px;
}
.bar-checkbox,
.bar {
    display: none;
}
.bar-checkbox {
    width: 35px;
    height: 35px;
    opacity: 0;
    margin: 0;
    position: absolute;
    right: 0;
    z-index: 6;
}
.bar-holder {
    position: absolute;
    right: 0;
    z-index: 5;
}
.bar {
    width: 30px;
    height: 5px;
    margin: 5px 0;
    background-color: #000000; 
    transition: all 1s linear;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-ul {
    display: flex;
    justify-content: space-between;
    min-width: 160px;
}
.header-li {
    display: inline-block;
}
.header-li:not(:last-child) {
    margin-right: 18px;
}
.header-li > a {
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
}
.header-li > a:hover {
    font-weight: bold;
    transition: 1s;
}
.header-btn-holder {
    margin-left: 75px;
}

.websites {
    background-color: #F3C6BD;
    padding: 40px 0 76px;
}
.websites-inner {
    display: flex;
    position: relative;

}
.websites-content {
    position: relative;
    z-index: 1;
}
.websites-img {
    position: absolute;
    z-index: 0;
    right: -105px;
    max-width: 796px;
}
.websites-img > img {
    width: 100%;
}
.websites-title {
    max-width: 754px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
}
.websites-text {
    max-width: 456px;
    font-size: 24px;
    line-height: 34px;
    margin: 34px 0 58px;
}

/* about*/
.about {
    background-color: #F4F5F7;
    padding: 77px 0px 76px;
}
.about-holder {
    display: flex;
    justify-content: flex-start;
}
.about-inner {
    max-width: 555px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}
.about-inner:not(:last-child) {
    margin-right: 29px;
}
.about-bold {
    font-weight: bold;
    margin-bottom: 10px;
}
/* labels */
.labels-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0 110px;
}

/* features */
.features {
    padding-bottom: 103px;
    position: relative;
}
.features-inner {
    display: flex;
    justify-content: space-between;
}
.features-content {
    max-width: 490px;
    margin-right: 20px;
    background-color: #fff;
    z-index: 2;
    padding: 0 15px;
}
.features-subtitle {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: #009B4D;
    margin-bottom: 24px;
}
.features-text {
    margin: 30px 0 42px;
}
.features-items {
    padding-bottom: 22px;
    margin-bottom: 22px;
    border-bottom: 1px solid rgba(43, 41, 45, 0.15);
}
.features-summary {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    cursor: pointer;
}
.features-icon {
    margin-right: 15px;
}
.features-detail {
    margin-top: 8px;
    display: none;
}
.features-items.active {
    border-bottom: 3px solid #3142C6;
}
.active .features-summary {
    color: #3142C6;
}
.features-img {
    position: absolute;
    right: 0;
}
.features-img__additional {
    position: absolute;
    left: 0;
    top: 258px;
}

/*  coversations block */
.coversations {
    background-color: rgba(252, 240, 227, 0.4);
    padding: 115px 0;
}
.conversation-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conversation-image {
    max-width: 425px;
    max-height: 510px;
}
.conversation-image > img {
    width: 100%;
    height: 100%;
}
.conversation-textblock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conversation-content {
    max-width: 461px;
}
.conversation-overtitle {
    color: #F1592B;
    margin-bottom: 24px;
}
.conversation-text {
    margin: 30px 0 34px;
}
.conversation-chatbox {
    max-width: 519px;
    padding: 30px 30px 24px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-bottom: 4px solid #0185D0;
}
.conversation-message {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 26px;
}
.conversation-bold {
    font-weight: bold;
}
.conversation-profile {
    display: flex;
    align-items: center;
}
.conversation-avatar {
    max-width: 40px;
    margin-right: 11px;
}
.conversation-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.conversation-job {
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}


/*   description   */
.description {
    padding: 100px 0 116px;
}
.description-order {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 75px;
}
.description-text {
    max-width: 462px;
}

.description-overtitle {
    color: #0189D1;
}

.description-title {
    margin: 24px 0 30px;
}

.description-button {
    margin: 39px 0 15px;
}
.description-image {
    max-width: 425px;
    max-height: 426px;
    margin-right: 31px;
}
.description-image > img {
    width: 100%;
    height: 100%;
}
.description-order::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    left: 0;
    bottom: 0;
}
.description-items {
    display: flex;
    justify-content: space-between;
    margin: 40px -8px 0;
}
.description-item {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin: 0 8px;
}
.description-p {
    flex: 1 1 auto;
}
.description-bold {
    font-weight: bold;
}
.description-link {
    padding-top: 21px; 
}
.description-link > a {
    font-weight: bold;
    text-decoration: underline;
    color: #3142C6;
}


/* grid class="audience*/
.audience {
    background-color: rgba(0, 161, 198, 0.1);
    padding: 108px 0 110px;
}
.audience-content {
    max-width: 555px;
    margin: 0 auto 111px;
    text-align: center;
}
.audience-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
}
.audience-bold {
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin: 28px 0 40px;
}
.audience-regular {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 34px;
}
.audience-btn:first-of-type {
    margin-right: 10px;
}
.audience-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
    column-gap: 30px;
}
.audience-item {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 22px 0 33px;
    text-align: center;
}
.audience-item:hover {
    background: #3141C5;
    box-shadow: 0px 13px 18px -8px rgba(0, 0, 0, 0.15), 0px 11px 55px 10px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    cursor: pointer;
    color: #FFFFFF;;
    transition: all 1s;
}
.audience-img {
    height: 195px;
}
.audience-under {
    margin-top: 22px;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}

/*  inovative block */
.innovative-outher {
    position: relative;
    padding-bottom: 67px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.innovative-content {
    text-align: center;
}
.innovative-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #3142C6;
}
.innovative-text {
    max-width: 750px;
    margin: 28px auto 34px;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    padding: 28px 0 34px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.innovative-subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.innovative-subtext {
    font-size: 16px;
    line-height: 24px;
    color: rgba(43, 41, 45, 0.6);
    margin: 15px 0 38px;
}

.innovative-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    max-width: 273px;
}
.innovative-img > img {
    width: 100%;
}

/* trial */
.trial {
    background-color: #F4F5F7;
    padding: 73px 0;
}
.trial-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.trial-img {
    position: relative;
    animation-name: jumping;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes jumping {
    0%{
        top: 0;
    }
    25%{
        top: -20px;
    }
    50%{
        top: -40px;
    }
    75%{
        top: -20px;
    }
    100%{
        top: 0;
    } 
}
.trial-content {
    max-width: 555px;
}
.trial-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
}
.trial-text {
    font-size: 22px;
    line-height: 32px;
    margin: 12px 0 26px;
}
.trial-input {
    width: 385px;
    background: #FFFFFF;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    padding: 12px 15px;
    font-size: 18px;
    line-height: 13px;
}
.trial-input:focus {
    outline: none;
}
.trial-input::placeholder {
    font-size: 18px;
    line-height: 13px;
}
.trial-undertext {
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    margin-top: 10px;
}


/* hiring */
.hiring {
    padding: 108px 0 90px;
}
.hiring-description {
    max-width: 555px;
    text-align: center;
    margin: 0 auto 100px;
}
.hiring-text {
    font-size: 24px;
    line-height: 34px;
    margin: 20px 0 28px;
}
.hiring-items_container {
    max-width: 750px;
    margin: 0 auto;
}
.hiring-items {
    margin: 10px 0;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
}
.hiring-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 25px;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
}
.hiring-position {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    flex: 3;
}
.hiring-where{
    font-size: 18px;
    line-height: 24px;
    color: rgba(43, 41, 45, 0.6);
    flex: 2;
}
.hiring-arrow {
    font-size: 18px;
    line-height: 24px;
    color: rgba(43, 41, 45, 0.6);
    text-align: end;
}
.hiring-detail {
    display: none;
    font-size: 18px;
    line-height: 24px;
    padding: 26px 25px;
    text-align: justify;
}
.hiring-items.active {
    border-color: #3141C5;
}
.active .hiring-summary {
    background-color: #3141C5;
    color: #FFFFFF;
}
.active .hiring-position,
.active .hiring-where {
    color: #FFFFFF;
}
.active .hiring-arrow {
    transform: rotate(90deg);
    color: #FFFFFF;
}

/* grid* surfaces*/
.surfaces-holder {
    display: grid;
    grid-template-areas: 
        "apple bus man"
        "hand phone man"
        "hand child dog";
    gap: 40px;  
}
.surfaces-holder img {
    width: 100%;
    height: 100%;
}
.surfaces-text {
    text-align: center;
}
.surfaces-bold {
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
}
.surfaces-regular {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #172342;
    max-width: 554px;
    margin: 0 auto;
    padding: 26px 0 80px;
}
.surfaces-apple {
    grid-area: apple;
}
.surfaces-bus {
    grid-area: bus;
} 
.surfaces-man {
    grid-area: man;
}
.surfaces-hand {
    grid-area: hand;
}
.surfaces-phone {
    grid-area: phone;
}
.surfaces-child {
    grid-area: child;
}
.surfaces-dog {
    grid-area: dog;
} 


.footer {
    padding: 137px 0 51px;
}
.footer a,
.footer a:visited {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
}
.footer-inner {
    display: flex;  
    padding-bottom: 47px;
}
.footer-description {
    max-width: 360px;
    margin-right: 126px;
}
.footer-text {
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    margin: 26px 0 25px;
}
.footer-apps > a:not(:last-child) {
    margin-right: 10px;
}
.footer-items {
    display: flex;
    justify-content: space-between;
    margin: 0px -15px;
}
.footer-item {
    width: 265px;
    margin: 0 15px;
}
.footer-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}
.footer-list {
    margin-top: 18px;
}
.footer-list a {
    font-size: 18px;
    line-height: 30px;
}
.footer-lower {
    padding-top: 13px;
    border-top: 1px solid rgba(43, 41, 45, 0.1);
}
.footer-privacy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px;
}
.footer-links > li {
    display: inline-block;
    margin: 10px;
}
.footer-links > li > a {
    font-size: 14px;
    line-height: 22px;
}

#up {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: #F3C6BD;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding-top: 12px;
    font-size: 40px;
    z-index: 3;
    cursor: pointer;
}



@media (max-width: 1400px) {
    .websites-img {
        right: -35px;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 90%;
    }
    .websites-img {
        position: static;
        margin: 30px 0;
    }
    .features-img {
        position: static;
        max-width: 684px;
    }
    .features-img > img {
        width: 100%;
    }
}

@media (max-width: 1090px) {
    .websites-inner {
        flex-direction: column;
    }
    .websites-img {
        max-width: none;
    }
    .features-inner {
        flex-direction: column;
    }
    .features-content,
    .features-img {
        max-width: none;
    }
    .description-order {
        flex-direction: column-reverse;
    }
    .description-text {
        max-width: 100%;
    }
    .description-image {
        margin: 0 auto;
    }
    .audience {
        padding: 65px 0;
    }
    .trial-holder {
        flex-direction: column;
    }
    .trial-content {
        text-align: center;
    }
    .footer {
        padding-top: 100px;
    }
    .footer-inner {
        flex-direction: column;
    }
    .footer-description {
        max-width: none;
        margin: 0;
        padding-bottom: 15px;
    }
}

@media (max-width: 800px) {
    .bar-checkbox,
    .bar {
        display: block;
    }
    .bar-checkbox:checked ~ .bar-holder > .bar:first-of-type {
        transform: rotate(45deg) translate(8px, 6px);
    }
    .bar-checkbox:checked ~ .bar-holder > .bar:last-of-type {
        transform: rotate(-45deg) translate(8px, -6px);
    }
    .bar-checkbox:checked ~ .bar-holder > .bar:nth-child(2){
        opacity: 0;
    }
    .header-nav {
        display: none;
    }
    .bar-checkbox:checked ~ .header-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #F3C6BD;
        z-index: 4;
    }
    .header-ul {
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }
    .header-li {
        display: block;
    }
    .header-li:not(:last-child) {
        margin-right: 0;
    }
    .header-btn-holder {
        margin: 20px 0;
    }
    .header-btn {
        display: block;
        margin: 0 auto;
    }
    .about {
        padding: 40px 0;
    }
    .labels-holder {
        flex-wrap: wrap;
        padding-bottom: 60px;
    }
    .labels-holder > a {
        margin: 10px;
    }
    .conversation {
        padding: 50px 0;
    }
    .conversation-inner {
        flex-direction: column;
    }
    .conversation-overtitle {
        padding-top: 25px;
    }
    .description,
    .description-order,
    .description-image {
        padding-bottom: 50px;
    }
    .description-text {
        text-align: center;
    }
    .description-items {
        flex-direction: column;
    }
    .description-item {
        max-width: none;
    }
    .description-item:not(:last-child) {
        margin-bottom: 25px;
    }
    .description-link {
        padding-top: 0;
    }
    .audience-content {
        margin-bottom: 50px;
    }
    .audience-icons {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .innovative-img {
        position: static;
        padding: 40px 0 50px;
        margin: 0 auto;
    }
    .surfaces-regular {
            padding-bottom: 60px;
    }
    .surfaces-holder {
        grid-template-areas: 
            "apple man"
            "hand man"
            "hand phone"
            "child dog";
        gap: 15px;
    }
    .surfaces-bus {
        display: none;
    }
}

@media (max-width: 600px) {
    .websites-button,
    .audience-btn {
        width: 100%;
        margin-bottom: 20px;
    }
    .trial-input::placeholder {
        text-align: center;
    }
    .trial-input,
    .description-button  {
        width: 100%;
    }
    .trial-btn {
        width: 100%;
        margin-top: 20px;
    }
    .hiring-summary {
        flex-direction: column;
        align-items: start;
        position: relative;
        border-radius:  8px 8px 8px 0;
    }
    .hiring-summary > div:last-of-type {
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D5D4D5;
        border-radius: 0px 8px 8px 0px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .hiring-position {
        margin: 19px 70px 17px 0;
    }
    .hiring-where {
        margin: 0 70px 19px 0;
    }
}

@media (max-width: 550px) {
    .about {
        padding: 20px 0;
    }
    .about-holder {
        flex-direction: column;
    }
    .about-inner {
        text-align: center;
        margin: 15px 10px;
    }
    .description-text {
        text-align: center;
    }
    .title {
        font-size: 42px;
        margin: 10px 0;
    }
    .audience-icons {
        grid-auto-rows: minmax(100px, auto);
    }
    .audience-img {
        min-height: 125px;
    }
    .innovative-content {
        text-align: start;
    }
    .footer-items {
        flex-direction: column;
    }
    .footer-item {
        width: 90%;
        padding-top: 15px;
        position: relative;
        border-bottom: 1px solid rgba(43, 41, 45, 0.6);
    }
    .footer-title__opener::after {
        content: "+";
        position: absolute;
        top: 12px;
        right: 0;
        font-weight: bold;
    }
    .footer-title__opener.active::after {
        display: none;
    }
    .footer-title__opener.active::before {
        content: "-";
        position: absolute;
        top: 12px;
        right: 0;
        font-weight: bold;
    }
    .footer-list {
        display: none;
    }
    .footer-title__opener.active ~ .footer-list {
        display: block;
    }
    .footer-privacy {
        flex-direction: column;
    }
    .footer-links {
        padding-top: 15px;
    }
}

@media (max-width: 480px) {
    .description {
        padding: 50px 0;
    }
    .description-order {
        padding-bottom: 15px;
    }
    .description-order::before {
        display: none;
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 85%;
    }
    .title {
        font-size: 34px;
    }
    .logo-text {
        max-width: 160px;
    }
    .websites-title {
        font-size: 56px;
        line-height: 58px;
    }
    .audience-icons {
        grid-template-columns: repeat(1, 1fr);
    }
    .audience-btn:first-of-type {
        display: block;
        margin: 0px auto 20px;
    }
    .audience-bold {
        font-size: 44px;
        margin: 20px 0;
    }
    .trial-img {
        max-width: 200px;
    }
    .conversation {
        padding: 30px 0;
    }
    .conversation-image {
        display: none;
    }
}





